* {
    font: bold 13px Montserrat, Microsoft Yahei UI;
}

Game, QDialog {
    background: palette(base);
}

GameBar QPushButton {
    border: 0;
    qproperty-iconSize: 24px 24px;
}

Board {
    background: gray;
    margin: 40;
}

Square {
    background: palette(base);
    border: 0;
}

StatsDialog QPushButton {
    qproperty-iconSize: 32px 32px;
}

StatsDialog QLabel {
    qproperty-alignment: AlignCenter;
}

HelpDialog QTextBrowser {
    border: 0;
}
